/*Variables*/
* {
  text-decoration: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(185, 201, 245);
}

.top {
  background-color: rgb(149, 138, 232);
  width: 100%;
}

.titulo {
  color: rgb(30, 30, 138);
}

.nav {
  border-bottom: 1px solid grey;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.close,
input[type=checkbox] {
  display: none;
}

.hamburger {
  margin-top: 0.2rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
  flex-direction: row;
}
.nav__menu a {
  text-decoration: none;
  color: initial;
  font-size: 1.2rem;
}
.nav__menu li {
  display: block;
}

li {
  list-style: none;
  display: none;
}
li:first-child {
  margin-right: auto;
  display: block;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .hamburger {
  display: none;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

.centrado {
  position: relative;
  left: 40%;
  transform: -40%;
}

.subtitulos {
  color: #9b63cd;
}

.footer {
  position: relative;
  bottom: 10%;
  color: rgb(30, 30, 138);
  background-color: rgb(149, 138, 232);
  width: 100%;
}

.pie {
  text-align: center;
  width: 100%;
}

.redes {
  text-align: center;
  color: #000000;
}

/*imagen titular pokemon*/
.img-pokemon {
  width: 20%;
  border-radius: 20px;
  color: #000000;
  position: relative;
  left: 40%;
  transform: -40%;
  top: 10%;
  padding: 10px;
}

/*imagen pokemon index*/
.pokemon-151 {
  position: relative;
  width: 20%;
  border-radius: 10px;
  transition: all 2s;
}

a:link {
  background-color: none;
  color: rgb(43, 77, 111);
}
a:visited {
  background-color: none;
  color: rgb(43, 77, 111);
}
a:hover {
  background-color: black;
  color: rgb(149, 138, 232);
}

.mapa-punto-venta {
  border-radius: 5px;
  border: 2px #8e14da;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  border-radius: 15px;
  gap: 10px;
  padding: 10px;
}

/*imagenes pokemon sets*/
.crown-zenith {
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 50%;
  right: 50%;
  transform: -50%;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(118, 7, 129, 0.6117647059);
  font-weight: bold;
  color: #000000;
  padding: 2 2 2 2px;
  transition: all 2s;
}

.evolving-skies {
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 50%;
  right: 50%;
  transform: -50%;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(118, 7, 129, 0.6117647059);
  font-weight: bold;
  color: #000000;
  padding: 2 2 2 2px;
  transition: all 2s;
}

.obsidian-flames {
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 50%;
  right: 50%;
  transform: -50%;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(118, 7, 129, 0.6117647059);
  font-weight: bold;
  color: #000000;
  padding: 2 2 2 2px;
  transition: all 2s;
}

.paldea-evolved {
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 50%;
  right: 50%;
  transform: -50%;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(118, 7, 129, 0.6117647059);
  font-weight: bold;
  color: #000000;
  padding: 2 2 2 2px;
  transition: all 2s;
}

.paradox-rift {
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 50%;
  right: 50%;
  transform: -50%;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(118, 7, 129, 0.6117647059);
  font-weight: bold;
  color: #000000;
  padding: 2 2 2 2px;
  transition: all 2s;
}

.scarlet-violet {
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 50%;
  right: 50%;
  transform: -50%;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(118, 7, 129, 0.6117647059);
  font-weight: bold;
  color: #000000;
  padding: 2 2 2 2px;
  transition: all 2s;
}

.sv-151 {
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 50%;
  right: 50%;
  transform: -50%;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(118, 7, 129, 0.6117647059);
  font-weight: bold;
  color: #000000;
  padding: 2 2 2 2px;
  transition: all 2s;
}

.container-form form .area-texto, textarea {
  width: 50%;
  padding: 15px 10px;
  font-size: 12px;
  border: 2px solid #8e14da;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: 0px;
}

.container-form .boton-enviar-mensaje {
  padding: 8px;
  font-size: 18px;
  border: 2px solid #8e14da;
  outline: 0px;
  background: rgb(149, 138, 232);
  color: #2e2931;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

@media only screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
